* {
  background-color: hsl(31, 33%, 88%);
  margin: 0;
  box-sizing: border-box;
  font-family: "lucida console", Courier, monospace;
}

.color {
  background-color: hsl(199, 27%, 18%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(199, 27%, 18%);
  position: sticky;
  padding: 15px;
  top: 0%;
}

.navbar_title {
  padding-left: 10px;
  flex-basis: 70%;
  color: hsl(170, 100%, 37%);
  font-size: 3em;
}

.navbar_links {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 30%;
}

.navbar_links a {
  color: hsl(170, 100%, 37%);
  background-color: hsl(199, 27%, 18%);
  font-size: 0.84em;
}

a:hover {
  color: hsl(21, 89%, 52%);
}

.portfolio_content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 50vh 50vh 50vh 50vh;
  gap: 40px;
  padding-left: 10px;
}

.portfolio_menu {
  display: grid;
  grid-row: 1 / -1;
  place-items: center;
  align-content: space-around;
}

.edu_content,
.exp_content,
.ski_content,
.ref_content {
  display: grid;
  align-content: center;
}

footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: hsl(199, 27%, 18%);
}

.form_contact,
.form_header,
.form,
label {
  color: hsl(0, 0%, 100%);
  background-color: hsl(199, 27%, 18%);
  /* text-align: center; */
}
